body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 20px;
  color: white;
  width: 500px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #00ff99;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 25px;
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 15px;
}
canvas {
  margin-top: 20px;
}